#Importing the required libraries

In [12]:
from sklearn.linear_model import LinearRegression
import numpy as np
import pandas as pd

# Importing the dataset

In [13]:
df = pd.read_csv("student-mat.csv",sep = ";")
df1 = pd.read_csv("Getting data.csv")
df1

   30   4  25  25.1
0   4   0  23    24
1   5  50  18    24
2   4  15  23    23
3   5  48  18    24
4   5  75  18    24
5   4   5  21    24
6   4  15  23    21
7   5  20  25    24
8   1  20  18    23

# Making data suitable for the model

In [14]:
X_test = df1.iloc[:, :3].values
y_test = df1.iloc[:, -1].values
X_train = df.iloc[:,-5:-2].values
y_train = df.iloc[:, -2].values
y_train  = y_train  + 5
X_train[:,-2] = X_train[:,-2] + 5


# Fitting Simple regression to data

In [15]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)


# Predicting the results

In [16]:
y_pred = regressor.predict(X_test)
y_pred = np.array(y_pred,dtype = "int8")
y_pred = y_pred.clip(min=0,max = 25)
y_pred,y_test

(array([25, 22, 25, 22, 22, 25, 25, 25, 22], dtype=int8),
 array([24, 24, 23, 24, 24, 24, 21, 24, 23]))


# Checking the accuracy

In [17]:
y_pred
(1-np.sqrt(((y_pred - y_test) ** 2).mean())/15)*100

86.66666666666667